<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
        <title>AMA | Cadastro de pacientes</title>
    </head>
    <body>
        <div class="container">
          <!--Header Inicio-->
          <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="/home"> 
                <img src="/images/logo_topo.png" width="30" height="30" class="d-inline-block align-top" alt="logo" loading="lazy">
                AMA
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="/home">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/employee">Cadastro de profissionais</a>
                            <a class="dropdown-item active" href="/patients">Cadastro pacientes</a>
                            <a class="dropdown-item" href="/listemployee">Agendamento</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="/filter">Relatórios</a>
                        </div>
                      </li>
                  </ul>
                  <a class="nav-link" href="/"><span class="navbar-text">Sair</span></a>
                </div>
                
            </nav>
          </header>
          <!--Header Fim-->
          <div class="card mt-3">
            <% var msg;
            if(msg!=null){%>
              <div class="alert alert-info" role="alert">
                <%=msg%>
              </div>
            <%}%>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Cadastro de Pacientes
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <form method="post" action="/patients">
                        <div class="form-row">
                          <div class="form-group col-md-5">
                              <label for="inputName">Nome Completo:</label>
                              <input type="text" class="form-control" id="inputName" name="name" required>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="inputdate">Data nascimento:</label>
                            <input type="date" class="form-control" id="inputdate" name="birth" required>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="inputgenre">Genêro:</label>
                            <select id="inputgenre" class="form-control"  name="genre" required>
                                <option ></option>
                                <option >Menino</option>
                                <option >Menina</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="inputdegree">Grau:</label>
                            <select id="inputdegree" class="form-control" name="degree" required>
                                <option ></option>
                                <option>Sem laudo</option>
                                <option>Leve</option>
                                <option>Moderado</option>
                                <option>Severo</option>
                            </select>
                          </div>
                        </div>
                        <hr>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="inputResp">Responsável:</label>
                              <input type="text" class="form-control" id="inputResp" placeholder="Nome completo do pai ou da mãe" name="responsible" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputEmail">Email:</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" required>
                          </div>
                          <div class="form-group col-md-12">
                            <label for="inputAddress">Endereço:</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Rua ou Avenida, número e bairro" name="address" required>
                          </div>
                          <div class="form-group col-md-12">
                            <label for="inputAddress2">Complemento:</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Insira um ponto de referência, ou complemento" name="address2">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="inputphone">Telefone contato:</label>
                            <input type="text" class="form-control" id="inputphone" placeholder="Preencher 55 11 e o número para whatsapp" name="phone" required>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputCity">Cidade:</label>
                            <input type="text" class="form-control" id="inputCity" name="city" required>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputUF">Estado:</label>
                            <input type="text" class="form-control" id="inputUF" placeholder="Preencher apenas SP ou MG para UF" name="uf" required> 
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="submit" class="btn btn-secondary ml-2" onclick="javascript:location.href='/home'">Cancelar</button>
                      </form>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo"  aria-controls="collapseTwo">
                      Listagem de Pacientes
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <form id="formList"> 
                      <div class="form-row">
                          <div class="form-group col-md-12">
                            <table id="temp" class="table table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th scope="col">Nome</th>
                                  <th scope="col">Responsável</th>
                                  <th scope="col">Contato</th>
                                  <th scope="col">Ações</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% var dados;
                                    for(var i in dados){
                                      if(dados[i].active == 'S'){%>
                                        <tr id="myRow">
                                          <td id="myTDname"><%=dados[i].name%></td>
                                          <td id="myTDresp"><%=dados[i].responsible%></td>
                                          <td id="myTDphone"><a href="https://api.whatsapp.com/send?phone=+<%=dados[i].phone%>" target="_blank"><%=dados[i].phone%></a></td>
                                          <td align="center"  id="myTDacao">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Opções
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                              <a class="dropdown-item" href="remove?patient=true&idpatient=<%=dados[i].id%>" >Remover</a>
                                              <a class="dropdown-item" href="patients/<%=dados[i].id%>/false" >Desativar</a>
                                            </div>
                                             
                                          </td> 
                                      </tr>
                                      <%} else {%>
                                        <tr id="myRow" class="table-warning">
                                          <td id="myTDname"><%=dados[i].name%></td>
                                          <td id="myTDresp"><%=dados[i].responsible%></td>
                                          <td id="myTDphone"><a href="https://api.whatsapp.com/send?phone=+<%=dados[i].phone%>" target="_blank"><%=dados[i].phone%></a></td>
                                          <td align="center"  id="myTDacao">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              Opções
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                              <a class="dropdown-item" href="patients/<%=dados[i].id%>/true">Ativar</a>
                                            </div>
                                              
                                          </td> 
                                      </tr>
                                      <%}%>
                                    <%}%>
                              </tbody>
                            </table>
                          </div>
                    </form> 
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        <!-- Optional JavaScript -->
         <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>